<div ng-controller="AboutCtrl">
    <h1 class="page-headers">About</h1>
    
    <md-grid-list class="contactGridList" md-cols-sm="1" md-cols-md="2" md-cols-gt-md="6" md-row-height-gt-md="1:1" md-row-height="2:2" md-gutter="12px" md-gutter-gt-sm="8px">
        <md-grid-tile class="hq-default" md-colspan="2" md-colspan-sm="1" md-rowspan="2">
            <img src="" />
        </md-grid-tile>
        <md-grid-tile class="hq-default" md-colspan="4" md-colspan-sm="1" md-rowspan="3">
            <md-grid-tile-header>
                <h3>About Rudi Redding</h3>
            </md-grid-tile-header>
            <div class="hq-tile-body">
                
            </div>
        </md-grid-tile>
        <md-grid-tile class="hq-default" md-colspan="2" md-colspan-sm="1" md-rowspan="1">
            <md-grid-tile-header>
                <h3>Contact information</h3>
            </md-grid-tile-header>
            <div class="bc-tile-body">
                <span>Rudi Redding</span>
                <span>301.802.3872</span>
                <span>Call for all appointments</span>
            </div>
        </md-grid-tile>
    </md-grid-list>
</div>
