/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require font-awesome
 *= require angular-material
 *= require angular-material.layouts
 *= require_tree .
 *= require_self
 */
html, body {
    font-size: 16px;
    height: 100%;
}
.wrapper {
    min-height: 100%;
	position: relative;
}
/*Header*/

.hq-nav {
    /*font-family: 'Great Vibes', cursive;*/
    /*font-family: 'Oswald', sans-serif;*/
    font-family: 'Josefin Sans', sans-serif;
    
    font-size: 1.3em;
}
.hq-nav .navbar {
    /*Remove bootstrap styles*/
    background-color: #ffffff;
    border-color: #ffffff;
    border-radius: 0px;
    
    /*Personal styles*/
    border-bottom: 2px solid #000000;
    padding-bottom: 5px;
}
.navbar-brand {
    font-size: 1.8em;
    color: #ffffff !important;
    text-shadow:
     -1px -1px 0 #000,   1px -1px 0 #000,
     -1px 1px 0 #000,   1px 1px 0 #000;
   
}

.nav-wrapper{
    margin-top: 20px;
}

.hq-header-nav li a:first-letter{
    font-size: 1.5em;
    font-weight: bold;
    color: #000000;
}

.hq-header-nav li:hover {
    background-color:rgba(242, 242, 242, 0.8);
}

.hq-header-nav li:hover a:first-letter, .hq-header-nav li .current-page:first-letter {
    color: #990000 !important;
}

/*Body*/
.hq-body {
    padding-bottom: 105px;
    
    font-family: 'Josefin Sans', sans-serif;
}
.page-headers {
    font-family: 'Josefin Sans', sans-serif;
    
    margin-bottom: 20px;
    padding: 5px;
    
    /*Gradient*/
    background: #cccccc; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #ffffff , #990000); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #ffffff, #990000); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #ffffff, #990000); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #ffffff , #990000); /* Standard syntax */
}
a:hover {
    text-decoration: none;
}
/*Footer*/
.hq-footer{
    background-color: #000000;
	height: 75px;
	
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
}
.footer-nav {
    color:#990000;
}

.footer-nav:hover {
    color: #cccccc;
}